This is a synthetic dataset for a mobile payments application. Each transaction has a sender and recipient and are taggedare is tagged as fraud or not fraud.

The task is to build a fraud detection API that can be called to predict whether or not a transaction is fraudulent.

In [ ]:
import pandas as pd

In [8]:
data = pd.read_csv("../data/data.csv.gz", compression = "gzip")
data.head()

,step,type,amount,nameOrig,oldbalanceOrig,newbalanceOrig,nameDest,oldbalanceDest,newbalanceDest,isFraud
0,1,PAYMENT,9839.64,C1231006815,170136.0,160296.36,M1979787155,0.0,0.0,0
1,1,PAYMENT,1864.28,C1666544295,21249.0,19384.72,M2044282225,0.0,0.0,0
2,1,TRANSFER,181.00,C1305486145,181.0,0.00,C553264065,0.0,0.0,1
3,1,CASH_OUT,181.00,C840083671,181.0,0.00,C38997010,21182.0,0.0,1
4,1,PAYMENT,11668.14,C2048537720,41554.0,29885.86,M1230701703,0.0,0.0,0